/* * {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.app {
  width: 100%;
  min-height: 100vh;
}

.nav {
  height: 60px;
  border: 1px solid black;
}

.layout {
  display: grid;
  grid-template-columns: 300px 1fr 300px;
  
  min-height: calc(100vh - 60px);
}

.left-sidebar,
.main-content,
.right-sidebar {
  border: 1px solid black;
}

@media (max-width: 900px) {
  .layout {
    grid-template-columns: 1fr;
  }

  .nav {
    flex-direction: column;
    height: auto;
    gap: 12px;
    padding: 16px;
  }
} */
